<div class="container">
        <h2>Product</h2>

     <!--    <div class="row">
            <div class="col-md-12">
                    <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="./../../assets/image/laptop.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">Laptop</p>
                                    </div>
                                  </div>
        
                    </div>
                    <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="./../../assets/image/laptop.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">Laptop</p>
                                    </div>
                                  </div>
        
                    </div>
                    <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="./../../assets/image/laptop.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">Laptop</p>
                                    </div>
                                  </div>
        
                    </div>
            </div>
          
        </div> -->

        <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                    <img class="card-img-top" src="./../../assets/image/laptop.jpeg" alt="Card image cap">

                      <h5 class="card-title text-center">Laptop</h5>
                    <li class="text-center"> <a routerLink="laptop" routerLinkActive="router-link-active"  class="btn btn-primary">Go</a></li>

                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                 <img class="card-img-top" src="./../../assets/image/mobile.jpg" alt="Card image cap">

                      <h5 class="card-title text-center">Mobile</h5>
                      <li class="text-center"> <a routerLink="mobile" routerLinkActive="router-link-active"  class="btn btn-primary text-center">Go</a></li>



                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                          <img class="card-img-top" src="./../../assets/image/television.jpeg" alt="Card image cap">
                                  <h5 class="card-title text-center">Television</h5>
                                  <li class="text-center"> <a routerLink="television" routerLinkActive="router-link-active"  class="btn btn-primary text-center">Go</a></li>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                       <img class="card-img-top" src="./../../assets/image/washingmachine.jpeg" alt="Card image cap">
      
                            <h5 class="card-title text-center">Washing Machine</h5>
                            <li class="text-center"> <a routerLink="washingmachine" routerLinkActive="router-link-active"  class="btn btn-primary text-center">Go</a></li>
                        </div>
                        </div>
                      </div>
              </div>
    
        
             

    </div>