<!-- 
<div class="container">

  <div class="row my-3">
    <div class="col-md-12">
  
      <div class="card">
        <div class="card-header" #box>
          <h2>Parent Div</h2>
          <div class="card-body">
            <p>{{username}}</p>
            <input type="text" class="form-control mb-3">
            <button class="btn btn-primary" (click)='changeChildProperty()'> Change child property</button> &nbsp;

            <button class="btn btn-primary" (click)='callToChildMethod()'> Call Child</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
  
        <app-child></app-child>
      </div>
  </div>

</div> -->

  <!-- <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/contactus" routerLinkActive="active">Contact Us</a>
        </li>

  </ul> -->

  <nav class="navbar navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       <!--  <a class="navbar-brand" href="#">Angular App</a> -->
        <img class="card-img-top" src="./../../assets/image/logo1.png" alt="Card image cap" style="
        height: 124px;
        width: 275px;
    ">

        <a class="nav-link" routerLink="{{goBackLink.url}}" *ngIf="goBackLink.text">Back to Product</a>

        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo03">
          <ul class="navbar-nav" *ngIf="headerNav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/contactus" routerLinkActive="active">Contact Us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
           <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
            <a  *ngIf="!loggedInUser" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" role="button">Sign in</a>

            <ul  *ngIf="loggedInUser">
                    <li >
                        Welcome <strong>Majahar</strong>
                    </li>
                    <li >
                            <a href="#" style="color:white"><i class="fas fa-unlock"></i>Logout</a>
                        
                    </li>
                 
                   
                  </ul>
                  <ul *ngIf="headerContactDetail" class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                        <li  class="nav-item">
                                L-273 shakti nagar,basaratpur,<br> Gorakhpur
                              
                          </li>
                  </ul>
          </form>
        </div>
      </nav>